:root{--color1:#fea100;--color2:#2f3538;--color3:#fff;--hover-color:#FFA000;--headings-color:#4f5d75;--main-font:Rubik,sans-serif}
body{font-family:var(--main-font)}
.FO{float:right}
.FL{float:left}
.main-content{padding-right:0;padding-left:0;background:#f6f6f6}
header{background:var(--color2);color:var(--color3);height:174px;padding-top:26px}
.sticky{position:fixed;width:100%;background:var(--color2);top:0;padding-top:20px;height:60px;z-index:10}
svg{height:100%;width:100%}
.navbar-default{background:var(--color2);border:0;float:left;margin-bottom:0;min-height:40px}
.navbar-toggle{border:none;float:left;margin-right:11px;margin-top:-2px;padding-left:3px;margin-bottom:0}
.navbar-toggle .icon-bar{background:var(--color1)}
.logo .text{float:left;margin:0;font-style:italic;font-weight:lighter;font-size:24px;margin-left:10px;text-transform:unset}
.logo .img{float:left;width:26px;height:31px}
.slogan{text-align:center;font-weight:300;font-size:15px;text-transform:uppercase;width:75%;margin:auto;margin-top:38px}
.slogan b{font-weight:500}
.cart{float:right;width:25px;fill:var(--color1);height:27px}
.coins{padding:0 5px;margin-top:-55px;width:100%}
.coins>div{padding:0}
.coin-card{color:var(--color3);height:164px;padding:10px;margin-bottom:5px;background-size:cover!important}
.coin-card .title{color:var(--color1);font-size:20px;float:left;width:60%;margin-top:5px;height:calc(100% - 50px);margin-bottom:0}
.coin-card .value{float:left;text-align:right;width:40%;font-size:12px}
.coin-card .price{float:left;width:40%;text-align:right;font-size:28px;font-weight:700}
.price::first-letter{font-weight:100;margin-right:2px}
.btn{color:var(--color1);border:1px solid;border-radius:18px;background:transparent;height:36px;min-width:100px;font-size:14px;line-height:24px;text-transform:capitalize}
.btn.btn-alt{color:var(--color3);border-color:var(--color3)}
.coin-card .btn{margin-top:25px;float:right}
.coin-card.bitcoin{background:url(../img/bitcoin.png)}
.coin-card.eth{background:url(../img/eth.png)}
.coin-card.xrp{background:url(../img/xrp.png)}
.coin-card.xmr{background:url(../img/xmr.png)}
.coin-card.bitcoin-cash{background:url(../img/bitcoin-cash.png)}
.coin-card .content{border:1px solid #625952;border-radius:2px;padding:10px;float:left;padding-right:22px;padding-bottom:10px;width:100%}
.section-title{font-size:24px;text-transform:uppercase;text-align:center;color:var(--headings-color);position:relative;font-weight:lighter;margin-bottom:17px}
.section-title:after{content:'';height:3px;width:20%;position:absolute;background:var(--headings-color);left:40%;top:36px}
.trending .card{color:var(--color3);height:225px;border-radius:6px;box-shadow:0 0 5px rgba(0,0,0,0.56);background-image:linear-gradient(34deg,#e37a00 0%,#dd8d03 100%);text-align:center;width:184px!important;margin:0 5px;transition:all .5s ease}
.trending .card.slick-center{height:235px;margin-top:-5px}
.trending .title{font-size:15px}
.trending .price{font-size:20px;margin-top:15px}
.trending .value{font-size:12px;margin-top:4px;margin-bottom:18px}
.trending .icon{width:50px;height:50px;background-color:var(--color3);border-radius:50%;margin:13px auto;color:var(--color2);font-size:35px}
.trending .slick-list{padding:20px 0!important}
.trending{padding:0}
.srch-inpt{float:left;width:220px;height:36px;border-radius:18px;background-color:var(--color3);border:1px solid #d6d6d6;font-size:14px;color:var(--headings-color);padding:10px;background-image:url(../img/search.png);background-repeat:no-repeat;background-position:94% 44%}
.srch-inpt:focus{outline:none}
.plus{color:var(--color2);font-size:15px;float:right;line-height:40px}
.srch-inpt::-webkit-input-placeholder{color:#d6d6d6}
.srch-inpt::-moz-placeholder{color:#d6d6d6}
.srch-inpt:-ms-input-placeholder{color:#d6d6d6}
.srch-inpt:-moz-placeholder{color:#d6d6d6}
.search{margin-top:6px}
.coin-of-day{background:url(../img/day-coin.png);color:var(--color3);height:184px;margin-top:30px;padding-right:0}
.coin-of-day .details{float:right;width:193px;height:173px;background-color:#1f2421;font-size:14px;padding:20px 24px;max-width:60%}
.coin-of-day .title{float:left;font-size:15px;font-weight:lighter;width:100%;margin-top:23px}
.coin-of-day .coin-icon{width:64px;height:60px;font-size:47px;text-align:center;margin:auto;color:var(--color1)}
.coin-of-day>.item{float:left;width:40%;text-align:center;text-transform:uppercase}
.coin-of-day .details .item{height:34px}
.coin-of-day .coin-name{float:left;font-size:24px;font-weight:700;width:100%;margin-top:5px}
.best-seller .title{font-size:15px;text-transform:uppercase;color:var(--color2);margin-top:14px}
.best-seller .icon{font-size:30px;text-transform:uppercase;color:var(--color3);background:var(--color2);height:50px;width:50px;border-radius:50%;text-align:center;margin:auto}
.best-seller .icon i{line-height:46px}
.best-seller{margin-top:18px}
.nav-tabs{border:0}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{color:var(--headings-color);border:0;border-bottom:2px solid #4f5d75;background:transparent}
.nav-tabs>li>a{color:#929aa9;font-size:16px;padding:3px 0;font-weight:500}
.nav-tabs>li{width:calc(100% / 3);text-align:center}
.best-seller .nav-tabs{margin-top:30px}
.best-seller .item{margin-top:28px;=:50pxborder-radius: 50%;text-align:center}
.s-section-title{font-size:23px;font-weight:lighter;color:var(--headings-color);text-transform:uppercase;text-align:center;margin-top:15px}
.info-content{height:169px;background-color:#fff;border:1px solid #d9ddd7;text-align:center;font-size:15px;font-weight:lighter;padding:10px;position:relative;overflow:hidden}
.info-block{padding:0 8px;margin-top:61px;float:left}
.info-block>div{padding:0}
.info-content .btn{margin-top:4px}
.offer{background:url(../img/offer.png);background-size:cover;margin-top:10px;margin-bottom:10px;height:166px;color:#fff;text-align:center;overflow:hidden;position:relative}
.offer .details{font-size:22px;background-color:#4f5d759e;width:80%;margin:auto;margin-top:53px}
.offer .time{font-size:15px;background-color:#4f5d759e;display:block;margin:auto;width:30%;margin-top:2px;margin-bottom:9px}
.ribbon{-ms-transform:rotate(70deg);-webkit-transform:rotate(7deg);transform:rotate(27deg);background:var(--hover-color);position:absolute;width:150px;top:7px;right:-39px;height:29px;font-size:13px;line-height:30px}
.offer .icon{background:url(../img/stx.png);width:55px;height:54px;position:absolute;right:10px;bottom:6px}
.benifits{float:left;background:var(--color3);width:100%;padding:0;color:var(--headings-color);font-size:14px;margin-top:10px;font-weight:lighter;line-height:20px;padding:10px 0}
.benifits .title{font-size:16px;text-transform:uppercase;font-weight:lighter;margin-top:6px;margin-bottom:3px}
.benifits .title b{font-weight:500}
.coin .icon{background:url(../img/coins.png)}
.safe .icon{background:url(../img/card.png)}
.buy .icon{background:url(../img/buy.png)}
.benifits .icon{width:80px;height:67px;float:left;background-repeat:no-repeat;background-position:center 10px;background-size:40px}
.benifits .item{margin-bottom:25px}
.sponsors{float:left;background:var(--color3);width:100%}
.sponsors ul{padding:0}
.sponsors li{float:left;list-style-type:none;width:calc(100% / 6);display:flex;align-content:center;height:46px;justify-content:center}
.sponsors img{width:45px;object-fit:contain}
footer{background:var(--color2);text-align:center;height:110px;padding:10px 0}
footer a{color:#8d9db6;transition:all .5s ease}
footer a:hover{color:var(--color1);text-decoration:none}
footer ul{padding:0}
footer li{list-style-type:none}
.sidenav{height:100%;width:0;position:fixed;z-index:1;top:0;left:0;background-color:#2f3538;overflow-x:hidden;transition:.2s;background-image:url(../img/sidenav.png);background-size:cover;z-index:999}
.sidenav a{padding:8px 8px 8px 32px;text-decoration:none;font-size:25px;color:#818181;display:block;transition:.3s}
.sidenav a:hover{color:#f1f1f1}
.closebtn{position:absolute;top:1px;right:-9px;font-size:36px;margin-left:50px;background:#2d3237;width:97px;height:69px;color:var(--color1);display:none;text-align:center;padding-top:6px;background-image:url(../img/sidenav.png)}
.navbar-toggle{float:left}
.icon.bill{background:url(../img/bill.png)}
.icon.medal{background:url(../img/medal.png)}
.info-content .icon{width:80px;height:110px;position:absolute;right:0;bottom:0;background-size:cover}
.icon.medal{right:-20px}
.info-content p{position:relative;z-index:1}
.link-set{float:left;width:100%;text-align:center}
.footer-sub{opacity:0;transition:all .5s ease;margin:0}
.footer-sub li{transition:all .5s ease;float:left;width:calc(100% / 4);color:#8999b1;height:0}
.footer-link:before{content:'+'}
.footer-sub:target{opacity:1}
.footer-sub:target li{height:20px}
.subscribe{display:none}
.menu-group .title{font-size:18px;color:var(--headings-color);text-transform:uppercase}
.navbar-nav>li>a{font-size:16px;color:var(--color3);text-transform:uppercase}
.lang .dropdown-toggle.btn{color:#daddd8;font-size:14px;text-align:right;background-image:url(../img/uk.png);background-repeat:no-repeat;background-position:18px center;background-size:28px}
.lang .dropdown-menu{background:#4e5d75}
.nav>li.register>a{color:var(--color1)}
.nav>li>a:focus,.nav>li>a:hover{background:#282c30}
.account.menu-group{border-bottom:2px solid #4f5d75;margin-bottom:15px}
.navbar-collapse{border:0;padding-top:20px}
.navbar-nav{padding-left:15px}
.lang .dropdown-menu>li>a{color:#dbddd9;font-size:14px}
@media only screen and (min-width: 768px) {
.navbar-toggle{display:block}
}
@media only screen and (min-width: 769px) {
.sticky{padding-top:60px;width:90%;left:5%;background:var(--color2);height:140px}
.coins{background:#2f3538;width:100%;margin-top:0;padding:20px 10% 28px}
.coins>div{padding:7px}
.coin-card.bitcoin,.coin-card.eth{height:346px;text-align:center}
.coin-card{background-size:cover!important}
.coin-card .btn{margin-top:20px}
.coin-card.bitcoin .title,.coin-card.eth .title{width:100%;height:20px;font-size:22px;font-weight:lighter;margin-bottom:67px;margin-top:14px}
.coin-card.bitcoin .content,.coin-card.eth .content{height:100%;padding-right:10px}
.coin-card.bitcoin .price,.coin-card.eth .price{width:100%;text-align:center;margin-bottom:10px}
.coin-card.bitcoin .value,.coin-card.eth .value{width:100%;text-align:center;margin-bottom:40px}
.coin-card.bitcoin .btn,.coin-card.eth .btn{float:none;min-width:130px}
.btn{min-width:100px}
.coin-card .title{height:50%}
.coin-card .content{padding-right:10px;height:100%}
.section-title{float:left;text-align:left;height:224px;width:17%;margin-top:41px;font-size:31px;z-index:9}
.section-title b{width:100%;display:block}
.section-title:after{width:3px;height:100%;left:100%;top:0}
.slider{float:left;width:82%}
.tab-content{width:66%;float:left;margin-top:22px}
.best-seller .nav-tabs{position:absolute;top:108px;width:16%}
.best-seller{position:relative;padding-left:0;padding-right:0}
.nav-tabs>li{width:100%;text-align:left;margin-bottom:6px}
.two-sec{width:970px;margin:auto;max-width:100%;position:relative}
.two-sec>div{width:50%;float:right}
.best-seller .section-title{width:34%}
.coin-of-day{height:214px;background-size:cover;margin-top:58px;border-radius:5px;overflow:hidden}
.info-block{float:none;padding:0}
.benifits .item{width:calc(100% / 3);float:left;text-align:center}
.benifits .item .icon{width:100%;background-size:56px;margin-top:29px;margin-bottom:16px;height:80px;background-position:center}
.logo .img{width:43px;height:auto}
header{padding-top:58px}
.logo .text{font-size:37px}
.slogan{margin-top:89px}
.trending .slick-list{padding-top:40px!important;padding-left:30px!important}
.trending .card.slick-center{height:225px;margin-top:0}
.search{width:54%;margin-right:10%}
.srch-inpt{float:left;width:363px}
.coin-of-day .coin-name{font-size:29px;margin-top:12px}
.coin-of-day .coin-icon{font-size:65px}
.coin-of-day .details{width:340px;height:189px;padding:37px 30px}
.coin-of-day .details .item{height:25px}
.coin-of-day .details .btn{margin-top:29px}
.info-block>div{margin-top:37px;margin-left:10px;margin-right:10px;width:calc(100% / 3 - 14px)}
.offer{margin-top:0;border:2px solid var(--color3);height:170px}
.info-block>div:first-of-type{margin-left:0}
.info-block>div:last-of-type{margin-right:0}
.two-sec:after{content:'';width:100%;height:1px;background:#e8e9e7;position:absolute;top:310px}
.benifits{width:100%;position:relative}
.benifits>div:after{content:'';width:100%;height:1px;background:#e8e9e7;position:absolute;top:236px;left:0}
.benifits .item p{width:70%;margin:auto}
.benifits>div{width:1170px;margin:auto;max-width:100%;float:none;position:relative}
.sponsors{padding-top:40px;height:140px}
.sponsors ul{width:1170px;float:none;margin:auto;max-width:100%}
.sponsors img{width:100px}
.footer-link:before{display:none}
.link-set{width:calc(60% / 3);text-align:left;margin-top:27px}
.footer-sub{opacity:1;height:20px;padding-left:10px}
.footer-sub li{height:30px!important;float:none}
footer{height:264px}
footer .footer-link{font-size:15px;text-transform:uppercase;margin-bottom:24px;display:block;cursor:default}
.subscribe{float:left;width:40%;height:100%;position:relative;padding-left:70px}
.footer-header{color:#8c9db6;font-size:15px;text-transform:uppercase;margin-bottom:24px;text-align:left;margin-top:27px}
.sub-inpt{float:left;height:36px;width:230px;background:#3d4449;border:1px solid #8d9db6;border-radius:20px;padding:5px 15px;transition:all .5s ease;color:var(--color3)}
.sub-inpt:focus{outline:none;background:#8596ad}
.sub-inpt::-webkit-input-placeholder{color:var(--color3)}
.sub-inpt::-moz-placeholder{color:var(--color3)}
.sub-inpt:-ms-input-placeholder{color:var(--color3)}
.sub-inpt:-moz-placeholder{color:var(--color3)}
footer .btn{float:left;margin-left:10px;min-width:60px;color:var(--color3)}
footer .btn:hover{color: var(--color1)}
.subscribe:before{content:'';width:2px;height:80%;background:#4e5d75;position:absolute;left:0;top:19px}
.subscribe{display:block}
footer .footer-link:hover{text-decoration:none;color:#8c9db6}
}
@media only screen and (min-width: 992px) {
.navbar-toggle{display:none}
}
@media only screen and (min-width: 1025px) {
.two-sec{width:1170px}
}
