:root {
  --color1: #fea100;/*orange*/
  --color2: #2f3538;/*grey*/
  --color3: #fff;/*white*/
    --headings-color: #4f5d75;
  --main-font:'Rubik', sans-serif;
}
body{
  font-family: var(--main-font)
}
.main-content{
  padding-right: 0;
  padding-left: 0;
}
header{
  background: var(--color2);
  color:var(--color3);
  height: 174px;
  padding-top: 26px;
}
svg{height: 100%;width:100%}
.navbar-default{
  background:var(--color2);
  border:0;
  float: left;
  margin-bottom: 0;
  min-height: 40px;
}
.navbar-default .navbar-toggle{
  border:none;
  float:left;
  margin-right: 11px;
  margin-top: -2px;
  padding-left: 3px;
  margin-bottom: 0;
}
.navbar-default .navbar-toggle .icon-bar{
  background:var(--color1)
}
.logo .text
{
  float:left;
  margin: 0;
  font-style: italic;
  font-weight: lighter;
  font-size: 24px;
  margin-left: 10px;
}
.logo .img{
    float: left;
    width: 26px;
    height: 31px;
}
.slogan{
  text-align:center;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  width: 75%;
  margin: auto;
}
.slogan b{font-weight: 500;}
.cart{
  float:right;
  width:25px;
  fill: var(--color1);
  height: 27px;
}
.coins{
  padding: 0 5px;
  margin-top: -55px;
}
.coins>div{
  padding:0
}
.coin-card{color: var(--color3);height: 164px;padding: 10px;margin-bottom: 5px;}
.coin-card .title{
    color: var(--color1);
    font-size: 20px;
    float: left;
    width: 60%;
    margin-top: 5px;
    height: calc(100% - 20px);
    margin-bottom: 0;
}
.coin-card .value{
    float: left;
    text-align: right;
    width: 40%;
    font-size: 12px;
}
.coin-card .price{
    float: left;
    width: 40%;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}
.price::first-letter{font-weight:100;margin-right:2px
}
.btn{
  color:var(--color1);
  border: 1px solid;
  border-radius: 18px;
  background: transparent;
  height: 36px;
  min-width: 100px;
  font-size: 14px;
  line-height: 24px;

}
.btn.btn-alt{
  color:var(--color3);
  border-color:var(--color3)
}
.coin-card .btn{
  margin-top: 25px;
    float: right;
}
.coin-card.bitcoin{
  background: url('../img/bitcoin.png')
}
.coin-card.eth{
  background: url('../img/eth.png')
}
.coin-card.xrp{
  background: url('../img/xrp.png')
}
.coin-card.xmr{
  background: url('../img/xmr.png')
}
.coin-card.bitcoin-cash{
  background: url('../img/bitcoin-cash.png')
}
.coin-card .content{border: 1px solid;border-radius: 2px;padding: 10px;float: left;padding-right: 22px;padding-bottom: 0;}

.section-title{
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color:var(--headings-color);
  position:relative;
  font-weight: lighter;
  margin-bottom: 17px;
}
.section-title:after{
  content:'';
  height:3px;
  width: 20%;
  position:absolute;
  background:var(--headings-color);
  left: 40%;
  top: 36px;
}
.trending .card{
  color:var(--color3);
  height: 225px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.56);
  background-image: linear-gradient(34deg, #e37a00 0%, #dd8d03 100%);
  text-align:center;
  width: 184px!important;
  margin: 0 5px;
}
.trending .card.slick-center{
    height: 235px;
    margin-top: -5px;
}
.trending .title{font-size:15px}
.trending .price{font-size:20px;margin-top: 15px;}
.trending .value{font-size:12px;margin-top: 4px;margin-bottom: 18px;}
.trending .icon{width:50px;height:50px;background-size: 60%;background-repeat: no-repeat;background-color: var(--color3);border-radius: 50%;background-position: center;margin: 13px auto;}
.nem{background: url('../img/nem.png')}
.trending .slick-list{
  padding: 20px 0!important;
}
.slider{
}
.trending{padding:0;}
.srch-inpt{float:left;width: 220px;height: 36px;border-radius: 18px;background-color: var(--color3);border: 1px solid #d6d6d6;font-size: 14px;color: var(--headings-color);padding: 10px;background: url(../img/search.png) no-repeat 94% 44%;}
.srch-inpt:focus{
    outline: none;
}

.plus{color:var(--color2);font-size:15px;float: right;line-height: 40px;}
.srch-inpt::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d6d6d6;
}
.srch-inpt::-moz-placeholder { /* Firefox 19+ */
  color: #d6d6d6;
}
.srch-inpt:-ms-input-placeholder { /* IE 10+ */
  color: #d6d6d6;
}
.srch-inpt:-moz-placeholder { /* Firefox 18- */
  color: #d6d6d6;
}
.search{margin-top: 6px;}
